@import url('https://fonts.googleapis.com/css?family=Lato');
*{
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
}
body{
  font-family:'Lato',sans-serif;
  font-size: 14px;
  color: #fff;
  background:
  linear-gradient(45deg,
  rgba(253,149,192,1) 0%,
  rgba(195,95,204,1) 38%,
  rgba(175,104,241,1) 66%,
  rgba(175,104,241,1) 84%,
  rgba(168,125,255,1) 100%);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height:100%;
}
main{
  width: 900px;
  margin: auto;
  background: #2D3154;
  border-radius: 15px;
  margin-top: 40px;
}
li{
  display: inline-block;
  width:200px;
  background: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 25px;
  margin-right: 20px;
  padding-top: 50px;
  border-radius: 15px;
  text-align:left;
  font-size: 1.3rem;
}
li:nth-child(1){
  background-image: url('img/plan-background-basic.png');
}
li:nth-child(2){
  background-image: url('img/plan-background-pro.png');
}
li:nth-child(3){
  background-image: url('img/plan-background-med.png');
}
div.plan-types{
  text-align: center;
}
h2.price{
  color:#2D3154;
  font-size: 2.2rem;
  font-weight:bolder;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 5px;
}
p.plan{
  color:#2D3154;
  font-size:0.8rem;
  margin-left: 40px;
  margin-bottom: 30px;
}
button.select-plan,button.chosen-plan{
  margin-left: 80px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-bottom: -100px;
  background:
  linear-gradient(45deg,
  rgba(253,149,192,1) 0%,
  rgba(195,95,204,1) 38%,
  rgba(175,104,241,1) 66%,
  rgba(175,104,241,1) 84%,
  rgba(168,125,255,1) 100%);
  color:#fff;
  font-size: 1rem;
}
.information{
  width: 470px;
  margin-top: 50px;
  margin-left: 110px;
}
h3{
  margin-bottom: 25px;
  font-weight: 300;
  text-transform: capitalize;
}

div.next-step{
  text-align: center;
  margin-top: 30px;
  padding-bottom: 60px;
}
button.continue{
  padding: 12px 30px 12px 30px;
  border-radius:10px;
  color: #fff;
  font-size: 1.05rem;
  background: linear-gradient(45deg, #6E68FD, #A84BF3);
}
button.continue::first-letter{
  text-transform: uppercase;
}
button.continue:hover{
  cursor: pointer;
  background: linear-gradient(45deg, #E2A97F, #D3556D);
}
