#wrapper {
  background-color: #a6e1ec;
  width: 700px;
  height: 730px;
  border: 1px solid #000000;
  padding: 10px;
  margin: auto;
}

img {
  width: 200px;
  margin-right: 10px;
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

.text {
  color: #2EA620;
}

li {
  width: 520px;
  border: 1px solid #000000;
  margin-bottom: 5px;
  font-size: 14px;
  padding: 10px;
}
