body {
  margin: 0px;
  padding: 0px;
  background-color:#CCCCCC;
}

nav#topmenu  li{
  font-size:24px;
  padding: 20px;
  line-height: 40px;
  height: 40px;
  display: inline-block;
}

nav#topmenu a{
  color: #ffffff;
  text-decoration: none;
}

nav#topmenu ul{
  background-color: #444;
  margin:0px;
  padding: 0px;
  list-style: none;
  text-align:center;
}
